<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css3?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Tulip Socials</title>
</head>
<body>
    <nav>
        <a href="/">
            <div class="logo"></div>
        </a>
        <ul style="padding-top: 1vw;">
            <a href="/">
                <li>posts</li>
            </a>
            <a href="/notifs">
                <li>notifs</li>
            </a>
            <a href="/profile">
                <li>profile</li>
            </a>
            <a href="/auth/logout" class="login">
                <li>logout</li>
            </a>
        </ul>
    </nav>
    <div class="profile-head">
        <h1>
            Profile
        </h1>
    </div>
    <div class="profile">
        <div class="info-box">
            <div class="left">
                <div class="pfp" style="background-image: url('<%=pfp%>');"></div>
                <div class="username">
                    <strong><%=username%></strong> 
                </div>
            </div>
            <hr style="transform: rotate(90); margin: 0; padding: 0; color: black; background-color: black; width: 0.2vw; opacity: 1;">
            <div class="right">
                <span>
                    <strong>Name: </strong><br><%= fullname %>
                </span>
                <span>
                    <strong>Email: </strong><br><%= email %>
                </span>
                <span>
                    <strong>Posts: </strong><br><%= posts.length %>
                </span>
                <span>
                    <strong>Liked Posts: </strong><br><%= likedPosts.length %>
                </span>
            </div>
        </div>

        <div class="add-post">
            <button type="button" class="btn add-btn" data-toggle="modal" data-target="#postModal">
                Add Post
            </button>
        </div>

        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="postModalLabel">Add Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/posts/newpost" method="post">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <br><br>
                    <button type="button" class="btn post-btn" id="uploadBtn" onclick=uploadFile()>Upload</button>
                    <br><br>
                    <p id="loading" style="padding: 1vw 0vw;">Please wait while your file is uploading...</p>
                    <input type="text" name="fileUrl" id="fileUrl" value="" hidden>
                    <div class="form-group">
                        <input type="text" name="caption" placeholder="Caption..." class="form-control" autocomplete="off">
                    </div>
                    <button type="submit" class="btn post-btn" id="postBtn" disabled>Post!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <div class="profile-posts">
            <div class="head">
                <h1>
                    Your Posts
                </h1>
            </div>
            <div class="main-posts">
                <% for(let i=posts.length - 1; i > -1; i--){ %>
                    <div class="profile-post" style="background-image: url('<%=posts[i]%>');"></div>
                <% } %> 
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-storage.js"></script>
    <script>

        window.onload = () => {
            bsCustomFileInput.init()
        }

        const uBtn = document.getElementById('uploadBtn');
        const pBtn = document.getElementById('postBtn');
        const fileInput = document.getElementById('fileUrl')
        const loading = document.getElementById('loading');

        const firebaseConfig = {
        apiKey: "AIzaSyA2h37_kFo57Vg4sXPJGyKqzJEpoMl85fw",
        authDomain: "tulipsocials-5f038.firebaseapp.com",
        projectId: "tulipsocials-5f038",
        storageBucket: "tulipsocials-5f038.appspot.com",
        messagingSenderId: "675366682999",
        appId: "1:675366682999:web:fe3242ebd42fc578df6172"
        };

        firebase.initializeApp(firebaseConfig);

        function uploadFile(){
            loading.style.display = 'inline';

            const ref = firebase.storage().ref();
            const file = document.querySelector('#file').files[0]
            const name = new Date() + '-' + file.name
            const metadata = {
                contentType: file.type
            }
            const task = ref.child(name).put(file,metadata)
            task
            .then(snapshot => snapshot.ref.getDownloadURL())
            .then(url => {
                fileInput.value = url
                if(fileInput.value != ''){
                        pBtn.disabled = false;
                    }else{
                        pBtn.disabled = true;
                }
                loading.style.display = 'none';
            })
            .catch(err => console.log(err))
        }

    </script>
</body>
</html>